<!DOCTYPE html>
<html>
<head lang="ko">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="SuperCrown">
  <meta name="description" content="반응형 사이트 만들기 튜토리얼 입니다.">

  <!-- HTML5shiv -->
  <!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->

  <!-- IE checker -->
  <script src="/javascripts/ie-checker-min.js"></script>

  <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/stylesheets/main/main.css">
    <link rel="stylesheet" href="/stylesheets/contest/new.css">
</head>
<body>
<div id="wrap">
    <!-- ======  Nav section start  ====== -->
    <% include ../../partials/nav.ejs %>
    <!-- ======  Nav section end  ====== -->
    <p class="main-word">디자인 콘테스트를 개최합니다.</p>
    <div class="main-contain">
        <div class="contain-left1 class="col-md-6"">
        <h1>Step 2-1</h1><br/>
        <h4>기본정보 입력</h4>
        </div>
        <div class="contain-right1 col-md-6">
            <div class="email-section"> 
                <label for="email" class="col-sm-3 control-label">Email</label>
                <input class="form-control" type="text" id="email" name="email" value="<%= user.email %>">
            </div>
            <div class="name-section"> 
                <label for="name" class="col-sm-3 control-label">Name*</label>
                <input class="form-control" type="text" id="name" name="name" value="<%= user.name %>">
            </div>
            <div class="phone-section"> 
                <label for="cellPhone" class="col-sm-3 control-label">Phone*</label>
                <input class="form-control" type="text" name="cellPhone" id="cellPhone" placeholder="핸드폰 번호 입력" maxlength="13" />
            </div>           
        </div>
        <div class='hr'></div>
        <div class="content-bottom col-md-12">
            <div class="next-box" >
            <a class="next" href="/launch/new/logo&bizcard/brief">Next</a>
            </div>
        </div>
    </div>
</div>
<!-- ======  Wrap section end  ====== -->

  <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/nav.js"/>
    <script src="/javascripts/module.js"/>
    <script>


    </script>
</body>

</html>